
        <footer class="footer">
            <nav class="footer-container">
                <ul class="footer-items">
                    <li><%= data.poweredBy[lang] %></li>
                    <li><%= data.privacy[lang] %></li>
                    <li><%= data.copyright[lang] %></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
