/* Base Styles */
html {
    min-height: 100%;
}

/* General Reset */
html, body, ul, li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, lightgray, gray);
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    min-height: 100vh;
}

/* Base elements */

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin: 0;
}

a {
    color: #007fcc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #003fcc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    background-color: lightgray;
    border: none;
    height: 1px;
}

/* Sections */

.body-about {
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 50px;
    width: 50%;
}

@media (max-width: 600px) {
    .body-about {
        width: 95%;
    }
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-container {
    display: flex;
    width: 100%;
}

.logo {
    align-items: center;
    color: white;
    display: flex;
}

.logo img {
    width: 32px;
}

.menu-items {
    display: flex;
    margin-left: auto;
}

.menu-items a {
    color: white;
    display: block;
    padding: 14px 20px;
    text-decoration: none;
}

.menu-items a:hover {
    background-color: #575757;
}

.body {
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-top: 75px;
    text-align: justify;
    width: 50%;
}

.header {
    color: white;
    background: linear-gradient(to right, black, gray);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.padding-25px {
    padding: 25px;
}

@media (max-width: 600px) {
    .body {
        width: 75%;
    }
}

.center {
    flex: 1;
    text-align: center;
}

.right {
    text-align: right;
}

.gray {
    color: gray;
}

.background {
    position: relative;
    padding-bottom: 75px;
}

.background-photo {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.profile-photo {
    border: 5px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 33%;
    left: 3%;
    width: 20%;
}

.profile,
.about,
.experience,
.education,
.skills,
.courses,
.languages,
.interests,
.recommandations {
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    margin: 10px 0;
    padding: 10px;
}

.profile {
    padding: 0;
}

.intro, .contact-info {
    margin: 15px;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.experience-item {
    display: flex;
}

.experience-content {
    width: 100%;
}

/* Elements */

.intro ul {
    padding-left: 0;
}

.intro li {
    display: flex;
}

.languages ul {
    list-style-type: none;
}

.horizontal-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: disc;
    margin: 0;
}

.horizontal-list li {
    margin-left: 1em;
    margin-right: 0.5em;
}

/* Icons */

.icon {
    padding-right: 5px;
    vertical-align: middle;
}

.icon-16x16 {
    width: 16px;
    height: 16px;
}

.icon-32x32 {
    width: 32px;
    height: 32px;
}

.icon-48x48 {
    width: 48px;
    height: 48px;
}

/* Collapsible */

.collapsible-content {
    display: none;
    padding-bottom: 5px;
}

.collapsible-button {
    background-color: white;
    border: 0;
    color: #007fcc;
    cursor: pointer;
}

.collapsible-button:hover {
    text-decoration: underline;
}

.collapsible-button:active {
    color: #003fcc;
}

.padded-li {
    padding-bottom: 1em;
}

/* Copyright */

.in-development,
.poweredBy,
.privacy,
.copyright
{
    color: white;
    font-size: small;
    font-weight: bold;
}

.footer {
    background-color: #333;
    bottom: 0;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.footer-container {
    display: flex;
    width: 100%;
}

.footer-items {
    display: flex;
    gap: 20px;
    margin: auto;
    text-align: center;
}
