body {
    background-color: #ccc;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    width: 50%;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin: 0;
}

a {
    color: #007fcc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #003fcc;
}

/* Classes */

.background {
    position: relative;
    padding-bottom: 75px;
}

.background-photo {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.profile-photo {
    border: 5px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 1%;
    width: 15%;
}

.icon {
    width: 25px;
    height: 25px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.profile,
.about,
.experience,
.education,
.skills,
.courses,
.languages,
.interests {
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 15px;
}

.profile {
    padding: 0;
}

.intro,
.contact-info {
    padding: 15px;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro ul,
.contact-info ul {
    padding-left: 0;
}

.intro li,
.contact-info li {
    display: flex;
}
