/* Base Styles */
html {
    min-height: 100%;
}

/* General Reset */
html, body, ul, li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, lightgray, gray);
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    min-height: 100vh;
}

/* Base elements */

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin: 0;
}

a {
    color: #007fcc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #003fcc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    background-color: lightgray;
    border: none;
    height: 1px;
}
