.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

.nav-container {
    display: flex;
    width: 100%;
}

.logo {
    align-items: center;
    color: white;
    display: flex;
}

.logo img {
    width: 32px;
}

@media (min-width: 601px) {
    .menu {
        display: flex;
        list-style-type: none;
        margin-left: auto;
    }

    .menu a {
        color: white;
        display: block;
        padding: 15px 20px;
        text-decoration: none;
    }

    .menu a:hover {
        background-color: #575757;
    }
}
