/* Sections */

.box {
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    word-break: break-word;
}

.profile {
    padding: 0;
}

.jumbotron {
    padding-bottom: 75px;
    position: relative;
}

.background-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.profile-image {
    border: 5px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 33%;
    left: 3%;
    width: 20%;
}

.intro, .contact-info {
    margin: 10px;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-skills {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
}

.card-row {
    display: flex;
}

.card-text {
    width: 100%;
}

/* Elements */

.horizontal-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: disc;
}

.horizontal-list li {
    margin-left: 1em;
    margin-right: 0.5em;
}

/* Icons */

.icon {
    padding-right: 10px;
    vertical-align: middle;
}

.icon-flag {
    width: 16px;
    height: 10px;
}

.icon-16x16 {
    width: 16px;
    height: 16px;
}

.icon-24x24 {
    width: 24px;
    height: 24px;
}

.icon-32x32 {
    width: 32px;
    height: 32px;
}

.icon-48x48 {
    width: 48px;
    height: 48px;
}

/* Collapsible */

.collapsible-content {
    display: none;
}

.collapsible-button {
    background-color: white;
    border: 0;
    color: #007fcc;
    cursor: pointer;
    padding: 0;
}

.collapsible-button:hover {
    text-decoration: underline;
}

.collapsible-button:active {
    color: #003fcc;
}
